<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
</head>
<body>
    <h1>Your order:</h1>

    <ul>
        {% for line in receipt_lines %}
        <li>{{ line.product }} x {{ line.amount }} = {{ line.subtotal }}
        </li>
        {% endfor %}
    </ul>

    <p><strong>Total with TVA= {{ total_general }} $</strong></p>       

    <a href="{{ url_for('pay') }}">[Pay]</a>

    <br><br>
    <a href="/">Home</a> |
    <a href="/show-cart">Cart</a>
</body>
</html>
