<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>
    <h1>Products:</h1>
        
    <ul> 
        {% for product, price in products.items() %}
            <li>
                {{ product }} - {{ price }} $
                {% if is_admin %}
                    <a href="{{url_for('delete_product', name=product) }}">[Delete product]</a>
                <form method="POST" action="{{ url_for('update_price', name=product) }}" style="display:inline;">
                <input type="number" name="new_price" placeholder="New price" required>
                <button type="submit">Update</button>
                </form>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        {% if is_admin %}
    <p><a href="{{ url_for('add_product_to_db') }}">[Add New Product]</a></p>
    {% endif %}
    <h2>Add in cart:</h2>
    <form method="POST" action="{{ url_for('add_product')}}">
        <input type="text" name="product" placeholder="ex:water">
        <button type="submit">Add</button>
    </form>
    <p><a href="{{ url_for('show_cart')}}">View cart</a></p>
</body>
</html>
